<div class="main">
<center>
	<h1> SALE! </h1>
	<%= image_tag "cover.jpg" %></p>
	<div class="countdown">
		<div class="counter">
			<h1><%= @years_left %> </h1>
		</div>
		<div class="counter">
			<h1><%= @months_left %> </h1>
		</div>
		<div class="counter">
			<h1><%= @days_left %> </h1>
		</div>
		<div class="counter">
			<h2>Years</h2>
		</div>
		<div class="counter">
			<h2>Months</h2>
		</div>
		<div class="counter">
			<h2>Days </h2>
		</div>
	</div>
</center>

</div>
